SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# اگه از sqlite استفاده می‌کنید این خط رو کامنت بذارید (پیش‌فرض کد از sqlite استفاده می‌کنه)
# DATABASE_URL=postgres://user:pass@localhost:5432/soundwave

CORS_ALLOWED_ORIGINS=http://localhost:3000

# درگاه پرداخت (عضو سوم پر می‌کنه)
ZARINPAL_MERCHANT_ID=
ZARINPAL_SANDBOX=True
